@model MovieApiV.Model.Part

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="col-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDvsC9tYFzZRotE5cfTi2-YQZNEn1u6TYRVQ3Spf_Tc4u77OvklJTxEMVEqb7YovPTYD4&usqp=CAU" width="150px" height="150px" />
    </div>
</div>
<div>
    <h4>Part</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
    </dl>
</div>
<div>
    <input type="button" class="btn btn-outline-info" value="Add to Cart" onclick="AddToCart('@Model.PartCode', true)" />
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>


<script>

    function AddToCart(id, car) {
        debugger;
        $.ajax({
            url: '/cart/create',
            method: 'POST',
            data: { 'id': id, 'iscar': car },
            success: function (x) {
            }
        });
    };

    function PartSearch() {

        var make = $('Make').val();
        var price = $('PriceRange').val();
        $.ajax({
            url: '/home/index',
            method: 'POST',
            data: { 'make': make, 'price': price },
            success: function (x) {
            }
        });
    };
</script>